# Nuxt dev/build outputs
.output
.nuxt
.nitro
.cache
dist
gpt_server/env/

# Node dependencies
node_modules
data/
# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea
.vscode/

# Local env files
.env
.env.*
!.env.example
